<Ui xmlns="http://www.blizzard.com/wow/ui/" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.blizzard.com/wow/ui/">
  <!--==========================================================================
    Settings Content Panel
    ==========================================================================-->
  <Frame name="TeronAutoLFM_Content_Settings" parent="TeronAutoLFM_MainFrame_ContentContainer" hidden="true">
    <Size>
      <AbsDimension x="298" y="252"/>
    </Size>
    <Anchors>
      <Anchor point="TOPLEFT"/>
    </Anchors>
    <Frames>
      <ScrollFrame name="$parent_ScrollFrame" inherits="UIPanelScrollFrameTemplate">
        <Size>
          <AbsDimension x="295" y="252"/>
        </Size>
        <Anchors>
          <Anchor point="TOPLEFT">
            <Offset>
              <AbsDimension x="3" y="0"/>
            </Offset>
          </Anchor>
        </Anchors>
        <ScrollChild>
          <Frame name="$parent_ScrollChild">
            <Size>
              <AbsDimension x="298" y="310"/>
            </Size>
            <Anchors>
              <Anchor point="TOPLEFT"/>
            </Anchors>
            <Frames>
      <!--==================================================================
        Dungeon Filters
        ==================================================================-->
      <Frame name="$parent_FiltersContainer">
        <Size>
          <AbsDimension x="320" y="24"/>
        </Size>
        <Anchors>
          <Anchor point="TOPLEFT">
            <Offset>
              <AbsDimension x="5" y="-5"/>
            </Offset>
          </Anchor>
        </Anchors>
        <Layers>
          <Layer level="ARTWORK">
            <FontString name="$parent_Header" inherits="GameFontNormal" text="Dungeon filters:" justifyH="LEFT">
              <Color r="1" g="1" b="1"/>
              <Size>
                <AbsDimension x="120" y="24"/>
              </Size>
              <Anchors>
                <Anchor point="TOPLEFT">
                  <Offset>
                    <AbsDimension x="0" y="0"/>
                  </Offset>
                </Anchor>
              </Anchors>
            </FontString>
          </Layer>
        </Layers>
        <Frames>
          <CheckButton name="$parent_FilterGRAY" inherits="UICheckButtonTemplate">
            <Size>
              <AbsDimension x="20" y="20"/>
            </Size>
            <Anchors>
              <Anchor point="LEFT" relativeTo="$parent_Header" relativePoint="RIGHT">
                <Offset>
                  <AbsDimension x="-12" y="0"/>
                </Offset>
              </Anchor>
            </Anchors>
            <Scripts>
              <OnClick>
                TeronAutoLFM.UI.Content.Settings.OnFilterToggle("GRAY", this:GetChecked() == 1)
              </OnClick>
            </Scripts>
          </CheckButton>
          <CheckButton name="$parent_FilterGREEN" inherits="UICheckButtonTemplate">
            <Size>
              <AbsDimension x="20" y="20"/>
            </Size>
            <Anchors>
              <Anchor point="LEFT" relativeTo="$parent_FilterGRAY" relativePoint="RIGHT">
                <Offset>
                  <AbsDimension x="12" y="0"/>
                </Offset>
              </Anchor>
            </Anchors>
            <Scripts>
              <OnClick>
                TeronAutoLFM.UI.Content.Settings.OnFilterToggle("GREEN", this:GetChecked() == 1)
              </OnClick>
            </Scripts>
          </CheckButton>
          <CheckButton name="$parent_FilterYELLOW" inherits="UICheckButtonTemplate">
            <Size>
              <AbsDimension x="20" y="20"/>
            </Size>
            <Anchors>
              <Anchor point="LEFT" relativeTo="$parent_FilterGREEN" relativePoint="RIGHT">
                <Offset>
                  <AbsDimension x="12" y="0"/>
                </Offset>
              </Anchor>
            </Anchors>
            <Scripts>
              <OnClick>
                TeronAutoLFM.UI.Content.Settings.OnFilterToggle("YELLOW", this:GetChecked() == 1)
              </OnClick>
            </Scripts>
          </CheckButton>
          <CheckButton name="$parent_FilterORANGE" inherits="UICheckButtonTemplate">
            <Size>
              <AbsDimension x="20" y="20"/>
            </Size>
            <Anchors>
              <Anchor point="LEFT" relativeTo="$parent_FilterYELLOW" relativePoint="RIGHT">
                <Offset>
                  <AbsDimension x="12" y="0"/>
                </Offset>
              </Anchor>
            </Anchors>
            <Scripts>
              <OnClick>
                TeronAutoLFM.UI.Content.Settings.OnFilterToggle("ORANGE", this:GetChecked() == 1)
              </OnClick>
            </Scripts>
          </CheckButton>
          <CheckButton name="$parent_FilterRED" inherits="UICheckButtonTemplate">
            <Size>
              <AbsDimension x="20" y="20"/>
            </Size>
            <Anchors>
              <Anchor point="LEFT" relativeTo="$parent_FilterORANGE" relativePoint="RIGHT">
                <Offset>
                  <AbsDimension x="12" y="0"/>
                </Offset>
              </Anchor>
            </Anchors>
            <Scripts>
              <OnClick>
                TeronAutoLFM.UI.Content.Settings.OnFilterToggle("RED", this:GetChecked() == 1)
              </OnClick>
            </Scripts>
          </CheckButton>
        </Frames>
      </Frame>
      <!--==================================================================
        Broadcast Interval
        ==================================================================-->
      <Frame name="$parent_BroadcastIntervalContainer">
        <Size>
          <AbsDimension x="320" y="24"/>
        </Size>
        <Anchors>
          <Anchor point="TOPLEFT">
            <Offset>
              <AbsDimension x="5" y="-32"/>
            </Offset>
          </Anchor>
        </Anchors>
        <Layers>
          <Layer level="ARTWORK">
            <FontString name="$parent_Header" inherits="GameFontNormal" text="Repeat interval:" justifyH="LEFT">
              <Color r="1" g="1" b="1"/>
              <Size>
                <AbsDimension x="120" y="24"/>
              </Size>
              <Anchors>
                <Anchor point="TOPLEFT">
                  <Offset>
                    <AbsDimension x="0" y="0"/>
                  </Offset>
                </Anchor>
              </Anchors>
            </FontString>
          </Layer>
        </Layers>
        <Frames>
          <Slider name="$parent_Slider" minValue="30" maxValue="120" valueStep="10" defaultValue="60" orientation="HORIZONTAL">
            <Size>
              <AbsDimension x="120" y="17"/>
            </Size>
            <Anchors>
              <Anchor point="LEFT" relativeTo="$parent_Header" relativePoint="RIGHT">
                <Offset>
                  <AbsDimension x="-12" y="0"/>
                </Offset>
              </Anchor>
            </Anchors>
            <Backdrop bgFile="Interface\AddOns\TeronAutoLFM\UI\Textures\SliderBackground" edgeFile="Interface\AddOns\TeronAutoLFM\UI\Textures\SliderBorder" tile="true">
              <BackgroundInsets>
                <AbsInset left="3" right="3" top="6" bottom="6"/>
              </BackgroundInsets>
              <TileSize>
                <AbsValue val="8"/>
              </TileSize>
              <EdgeSize>
                <AbsValue val="8"/>
              </EdgeSize>
            </Backdrop>
            <ThumbTexture file="Interface\AddOns\TeronAutoLFM\UI\Textures\SliderButton"/>
            <Scripts>
              <OnLoad>
                this:EnableMouseWheel(true)
              </OnLoad>
              <OnValueChanged>
                TeronAutoLFM.UI.Content.Settings.OnBroadcastIntervalSliderChanged(this)
              </OnValueChanged>
              <OnMouseWheel>
                TeronAutoLFM.UI.Content.Settings.OnBroadcastIntervalSliderMouseWheel(this, arg1)
              </OnMouseWheel>
            </Scripts>
          </Slider>
          <!-- Value display aligned with Reset/Reload buttons -->
          <Frame name="$parent_SliderValueFrame">
            <Size>
              <AbsDimension x="60" y="24"/>
            </Size>
            <Anchors>
              <Anchor point="LEFT" relativeTo="$parent">
                <Offset>
                  <AbsDimension x="235" y="0"/>
                </Offset>
              </Anchor>
            </Anchors>
            <Layers>
              <Layer level="OVERLAY">
                <FontString name="$parent_Text" inherits="GameFontNormal" text="60 secs" justifyH="LEFT">
                  <Anchors>
                    <Anchor point="LEFT"/>
                  </Anchors>
                </FontString>
              </Layer>
            </Layers>
          </Frame>
        </Frames>
      </Frame>
      <!--==================================================================
        Minimap Button
        ==================================================================-->
      <Frame name="$parent_MinimapContainer">
        <Size>
          <AbsDimension x="320" y="24"/>
        </Size>
        <Anchors>
          <Anchor point="TOPLEFT">
            <Offset>
              <AbsDimension x="5" y="-59"/>
            </Offset>
          </Anchor>
        </Anchors>
        <Layers>
          <Layer level="ARTWORK">
            <FontString name="$parent_Header" inherits="GameFontNormal" text="Minimap button:" justifyH="LEFT">
              <Color r="1" g="1" b="1"/>
              <Size>
                <AbsDimension x="120" y="24"/>
              </Size>
              <Anchors>
                <Anchor point="TOPLEFT">
                  <Offset>
                    <AbsDimension x="0" y="0"/>
                  </Offset>
                </Anchor>
              </Anchors>
            </FontString>
          </Layer>
        </Layers>
        <Frames>
          <!-- Show Radio -->
          <CheckButton name="$parent_ShowRadio" inherits="UIRadioButtonTemplate">
            <Size>
              <AbsDimension x="16" y="16"/>
            </Size>
            <Anchors>
              <Anchor point="LEFT" relativeTo="$parent_Header" relativePoint="RIGHT">
                <Offset>
                  <AbsDimension x="-12" y="0"/>
                </Offset>
              </Anchor>
            </Anchors>
            <Layers>
              <Layer level="ARTWORK">
                <FontString name="$parent_Label" inherits="GameFontNormal" text="Show" justifyH="LEFT">
                  <Size>
                    <AbsDimension x="40" y="16"/>
                  </Size>
                  <Anchors>
                    <Anchor point="LEFT" relativePoint="RIGHT">
                      <Offset>
                        <AbsDimension x="2" y="0"/>
                      </Offset>
                    </Anchor>
                  </Anchors>
                </FontString>
              </Layer>
            </Layers>
            <Scripts>
              <OnClick>
                TeronAutoLFM.UI.Content.Settings.OnMinimapRadioClick(true)
              </OnClick>
            </Scripts>
          </CheckButton>
          <!-- Hide Radio -->
          <CheckButton name="$parent_HideRadio" inherits="UIRadioButtonTemplate">
            <Size>
              <AbsDimension x="16" y="16"/>
            </Size>
            <Anchors>
              <Anchor point="LEFT" relativeTo="$parent_Header" relativePoint="RIGHT">
                <Offset>
                  <AbsDimension x="52" y="0"/>
                </Offset>
              </Anchor>
            </Anchors>
            <Layers>
              <Layer level="ARTWORK">
                <FontString name="$parent_Label" inherits="GameFontNormal" text="Hide" justifyH="LEFT">
                  <Size>
                    <AbsDimension x="32" y="16"/>
                  </Size>
                  <Anchors>
                    <Anchor point="LEFT" relativePoint="RIGHT">
                      <Offset>
                        <AbsDimension x="2" y="0"/>
                      </Offset>
                    </Anchor>
                  </Anchors>
                </FontString>
              </Layer>
            </Layers>
            <Scripts>
              <OnClick>
                TeronAutoLFM.UI.Content.Settings.OnMinimapRadioClick(false)
              </OnClick>
            </Scripts>
          </CheckButton>
          <!-- Reset Button -->
          <Button name="$parent_ResetButton" inherits="UIPanelButtonTemplate">
            <Size>
              <AbsDimension x="50" y="18"/>
            </Size>
            <Anchors>
              <Anchor point="RIGHT" relativeTo="$parent">
                <Offset>
                  <AbsDimension x="-35" y="0"/>
                </Offset>
              </Anchor>
            </Anchors>
            <Scripts>
              <OnClick>
                TeronAutoLFM.UI.Content.Settings.OnMinimapResetClick()
              </OnClick>
            </Scripts>
            <NormalFont inherits="GameFontNormalSmall"/>
            <HighlightFont inherits="GameFontHighlightSmall"/>
            <DisabledFont inherits="GameFontDisableSmall"/>
            <ButtonText text="Reset"/>
          </Button>
        </Frames>
      </Frame>
      <!--==================================================================
        DarkUI
        ==================================================================-->
      <Frame name="$parent_DarkUIContainer">
        <Size>
          <AbsDimension x="320" y="24"/>
        </Size>
        <Anchors>
          <Anchor point="TOPLEFT">
            <Offset>
              <AbsDimension x="5" y="-86"/>
            </Offset>
          </Anchor>
        </Anchors>
        <Layers>
          <Layer level="ARTWORK">
            <FontString name="$parent_Header" inherits="GameFontNormal" text="DarkUI (Shagu):" justifyH="LEFT">
              <Color r="1" g="1" b="1"/>
              <Size>
                <AbsDimension x="120" y="24"/>
              </Size>
              <Anchors>
                <Anchor point="TOPLEFT">
                  <Offset>
                    <AbsDimension x="0" y="0"/>
                  </Offset>
                </Anchor>
              </Anchors>
            </FontString>
          </Layer>
        </Layers>
        <Frames>
          <!-- On Radio -->
          <CheckButton name="$parent_OnRadio" inherits="UIRadioButtonTemplate">
            <Size>
              <AbsDimension x="16" y="16"/>
            </Size>
            <Anchors>
              <Anchor point="LEFT" relativeTo="$parent_Header" relativePoint="RIGHT">
                <Offset>
                  <AbsDimension x="-12" y="0"/>
                </Offset>
              </Anchor>
            </Anchors>
            <Layers>
              <Layer level="ARTWORK">
                <FontString name="$parent_Label" inherits="GameFontNormal" text="On" justifyH="LEFT">
                  <Size>
                    <AbsDimension x="20" y="16"/>
                  </Size>
                  <Anchors>
                    <Anchor point="LEFT" relativePoint="RIGHT">
                      <Offset>
                        <AbsDimension x="2" y="0"/>
                      </Offset>
                    </Anchor>
                  </Anchors>
                </FontString>
              </Layer>
            </Layers>
            <Scripts>
              <OnClick>
                TeronAutoLFM.UI.Content.Settings.OnDarkUIRadioClick(true)
              </OnClick>
            </Scripts>
          </CheckButton>
          <!-- Off Radio -->
          <CheckButton name="$parent_OffRadio" inherits="UIRadioButtonTemplate">
            <Size>
              <AbsDimension x="16" y="16"/>
            </Size>
            <Anchors>
              <Anchor point="LEFT" relativeTo="$parent_Header" relativePoint="RIGHT">
                <Offset>
                  <AbsDimension x="52" y="0"/>
                </Offset>
              </Anchor>
            </Anchors>
            <Layers>
              <Layer level="ARTWORK">
                <FontString name="$parent_Label" inherits="GameFontNormal" text="Off" justifyH="LEFT">
                  <Size>
                    <AbsDimension x="32" y="16"/>
                  </Size>
                  <Anchors>
                    <Anchor point="LEFT" relativePoint="RIGHT">
                      <Offset>
                        <AbsDimension x="2" y="0"/>
                      </Offset>
                    </Anchor>
                  </Anchors>
                </FontString>
              </Layer>
            </Layers>
            <Scripts>
              <OnClick>
                TeronAutoLFM.UI.Content.Settings.OnDarkUIRadioClick(false)
              </OnClick>
            </Scripts>
          </CheckButton>
          <!-- Reload Button -->
          <Button name="$parent_ReloadButton" inherits="UIPanelButtonTemplate">
            <Size>
              <AbsDimension x="50" y="18"/>
            </Size>
            <Anchors>
              <Anchor point="RIGHT" relativeTo="$parent">
                <Offset>
                  <AbsDimension x="-35" y="0"/>
                </Offset>
              </Anchor>
            </Anchors>
            <Scripts>
              <OnClick>
                TeronAutoLFM.UI.Content.Settings.OnDarkUIReloadClick()
              </OnClick>
            </Scripts>
            <NormalFont inherits="GameFontNormalSmall"/>
            <HighlightFont inherits="GameFontHighlightSmall"/>
            <DisabledFont inherits="GameFontDisableSmall"/>
            <ButtonText text="Reload"/>
          </Button>
        </Frames>
      </Frame>
      <!--==================================================================
        Preview Message Lines
        ==================================================================-->
      <Frame name="$parent_PreviewLinesContainer">
        <Size>
          <AbsDimension x="320" y="24"/>
        </Size>
        <Anchors>
          <Anchor point="TOPLEFT">
            <Offset>
              <AbsDimension x="5" y="-113"/>
            </Offset>
          </Anchor>
        </Anchors>
        <Layers>
          <Layer level="ARTWORK">
            <FontString name="$parent_Header" inherits="GameFontNormal" text="Preview layout:" justifyH="LEFT">
              <Color r="1" g="1" b="1"/>
              <Size>
                <AbsDimension x="120" y="24"/>
              </Size>
              <Anchors>
                <Anchor point="TOPLEFT">
                  <Offset>
                    <AbsDimension x="0" y="0"/>
                  </Offset>
                </Anchor>
              </Anchors>
            </FontString>
          </Layer>
        </Layers>
        <Frames>
          <!-- 1 Line Radio -->
          <CheckButton name="$parent_1LineRadio" inherits="UIRadioButtonTemplate">
            <Size>
              <AbsDimension x="16" y="16"/>
            </Size>
            <Anchors>
              <Anchor point="LEFT" relativeTo="$parent_Header" relativePoint="RIGHT">
                <Offset>
                  <AbsDimension x="-12" y="0"/>
                </Offset>
              </Anchor>
            </Anchors>
            <Layers>
              <Layer level="ARTWORK">
                <FontString name="$parent_Label" inherits="GameFontNormal" text="1 line" justifyH="LEFT">
                  <Size>
                    <AbsDimension x="36" y="16"/>
                  </Size>
                  <Anchors>
                    <Anchor point="LEFT" relativePoint="RIGHT">
                      <Offset>
                        <AbsDimension x="2" y="0"/>
                      </Offset>
                    </Anchor>
                  </Anchors>
                </FontString>
              </Layer>
            </Layers>
            <Scripts>
              <OnClick>
                TeronAutoLFM.UI.Content.Settings.OnPreviewLinesRadioClick(1)
              </OnClick>
            </Scripts>
          </CheckButton>
          <!-- 2 Lines Radio -->
          <CheckButton name="$parent_2LinesRadio" inherits="UIRadioButtonTemplate">
            <Size>
              <AbsDimension x="16" y="16"/>
            </Size>
            <Anchors>
              <Anchor point="LEFT" relativeTo="$parent_Header" relativePoint="RIGHT">
                <Offset>
                  <AbsDimension x="52" y="0"/>
                </Offset>
              </Anchor>
            </Anchors>
            <Layers>
              <Layer level="ARTWORK">
                <FontString name="$parent_Label" inherits="GameFontNormal" text="2 lines" justifyH="LEFT">
                  <Size>
                    <AbsDimension x="42" y="16"/>
                  </Size>
                  <Anchors>
                    <Anchor point="LEFT" relativePoint="RIGHT">
                      <Offset>
                        <AbsDimension x="2" y="0"/>
                      </Offset>
                    </Anchor>
                  </Anchors>
                </FontString>
              </Layer>
            </Layers>
            <Scripts>
              <OnClick>
                TeronAutoLFM.UI.Content.Settings.OnPreviewLinesRadioClick(2)
              </OnClick>
            </Scripts>
          </CheckButton>
        </Frames>
      </Frame>
      <!--==================================================================
        Input Message
        ==================================================================-->
      <Frame name="$parent_MessagingModeContainer">
        <Size>
          <AbsDimension x="320" y="24"/>
        </Size>
        <Anchors>
          <Anchor point="TOPLEFT">
            <Offset>
              <AbsDimension x="5" y="-140"/>
            </Offset>
          </Anchor>
        </Anchors>
        <Layers>
          <Layer level="ARTWORK">
            <FontString name="$parent_Header" inherits="GameFontNormal" text="Input message:" justifyH="LEFT">
              <Color r="1" g="1" b="1"/>
              <Size>
                <AbsDimension x="120" y="24"/>
              </Size>
              <Anchors>
                <Anchor point="TOPLEFT">
                  <Offset>
                    <AbsDimension x="0" y="0"/>
                  </Offset>
                </Anchor>
              </Anchors>
            </FontString>
          </Layer>
        </Layers>
        <Frames>
          <!-- Basic Radio -->
          <CheckButton name="$parent_SimpleRadio" inherits="UIRadioButtonTemplate">
            <Size>
              <AbsDimension x="16" y="16"/>
            </Size>
            <Anchors>
              <Anchor point="LEFT" relativeTo="$parent_Header" relativePoint="RIGHT">
                <Offset>
                  <AbsDimension x="-12" y="0"/>
                </Offset>
              </Anchor>
            </Anchors>
            <Layers>
              <Layer level="ARTWORK">
                <FontString name="$parent_Label" inherits="GameFontNormal" text="Basic" justifyH="LEFT">
                  <Size>
                    <AbsDimension x="36" y="16"/>
                  </Size>
                  <Anchors>
                    <Anchor point="LEFT" relativePoint="RIGHT">
                      <Offset>
                        <AbsDimension x="2" y="0"/>
                      </Offset>
                    </Anchor>
                  </Anchors>
                </FontString>
              </Layer>
            </Layers>
            <Scripts>
              <OnClick>
                TeronAutoLFM.UI.Content.Settings.OnMessagingModeRadioClick("details")
              </OnClick>
            </Scripts>
          </CheckButton>
          <!-- Custom Radio -->
          <CheckButton name="$parent_CustomRadio" inherits="UIRadioButtonTemplate">
            <Size>
              <AbsDimension x="16" y="16"/>
            </Size>
            <Anchors>
              <Anchor point="LEFT" relativeTo="$parent_Header" relativePoint="RIGHT">
                <Offset>
                  <AbsDimension x="52" y="0"/>
                </Offset>
              </Anchor>
            </Anchors>
            <Layers>
              <Layer level="ARTWORK">
                <FontString name="$parent_Label" inherits="GameFontNormal" text="Custom" justifyH="LEFT">
                  <Size>
                    <AbsDimension x="50" y="16"/>
                  </Size>
                  <Anchors>
                    <Anchor point="LEFT" relativePoint="RIGHT">
                      <Offset>
                        <AbsDimension x="2" y="0"/>
                      </Offset>
                    </Anchor>
                  </Anchors>
                </FontString>
              </Layer>
            </Layers>
            <Scripts>
              <OnClick>
                TeronAutoLFM.UI.Content.Settings.OnMessagingModeRadioClick("custom")
              </OnClick>
            </Scripts>
          </CheckButton>
        </Frames>
      </Frame>
      <!--==================================================================
        Presets Display
        ==================================================================-->
      <Frame name="$parent_PresetsContainer">
        <Size>
          <AbsDimension x="320" y="24"/>
        </Size>
        <Anchors>
          <Anchor point="TOPLEFT">
            <Offset>
              <AbsDimension x="5" y="-167"/>
            </Offset>
          </Anchor>
        </Anchors>
        <Layers>
          <Layer level="ARTWORK">
            <FontString name="$parent_Header" inherits="GameFontNormal" text="Presets display:" justifyH="LEFT">
              <Color r="1" g="1" b="1"/>
              <Size>
                <AbsDimension x="120" y="24"/>
              </Size>
              <Anchors>
                <Anchor point="TOPLEFT">
                  <Offset>
                    <AbsDimension x="0" y="0"/>
                  </Offset>
                </Anchor>
              </Anchors>
            </FontString>
          </Layer>
        </Layers>
        <Frames>
          <!-- Full Radio -->
          <CheckButton name="$parent_FullRadio" inherits="UIRadioButtonTemplate">
            <Size>
              <AbsDimension x="16" y="16"/>
            </Size>
            <Anchors>
              <Anchor point="LEFT" relativeTo="$parent_Header" relativePoint="RIGHT">
                <Offset>
                  <AbsDimension x="-12" y="0"/>
                </Offset>
              </Anchor>
            </Anchors>
            <Layers>
              <Layer level="ARTWORK">
                <FontString name="$parent_Label" inherits="GameFontNormal" text="Full" justifyH="LEFT">
                  <Size>
                    <AbsDimension x="28" y="16"/>
                  </Size>
                  <Anchors>
                    <Anchor point="LEFT" relativePoint="RIGHT">
                      <Offset>
                        <AbsDimension x="2" y="0"/>
                      </Offset>
                    </Anchor>
                  </Anchors>
                </FontString>
              </Layer>
            </Layers>
            <Scripts>
              <OnClick>
                TeronAutoLFM.UI.Content.Settings.OnPresetsRadioClick(false)
              </OnClick>
            </Scripts>
          </CheckButton>
          <!-- Condensed Radio -->
          <CheckButton name="$parent_CondensedRadio" inherits="UIRadioButtonTemplate">
            <Size>
              <AbsDimension x="16" y="16"/>
            </Size>
            <Anchors>
              <Anchor point="LEFT" relativeTo="$parent_Header" relativePoint="RIGHT">
                <Offset>
                  <AbsDimension x="52" y="0"/>
                </Offset>
              </Anchor>
            </Anchors>
            <Layers>
              <Layer level="ARTWORK">
                <FontString name="$parent_Label" inherits="GameFontNormal" text="Condensed" justifyH="LEFT">
                  <Size>
                    <AbsDimension x="72" y="16"/>
                  </Size>
                  <Anchors>
                    <Anchor point="LEFT" relativePoint="RIGHT">
                      <Offset>
                        <AbsDimension x="2" y="0"/>
                      </Offset>
                    </Anchor>
                  </Anchors>
                </FontString>
              </Layer>
            </Layers>
            <Scripts>
              <OnClick>
                TeronAutoLFM.UI.Content.Settings.OnPresetsRadioClick(true)
              </OnClick>
            </Scripts>
          </CheckButton>
        </Frames>
      </Frame>
      <!--==================================================================
        Default Panel
        ==================================================================-->
      <Frame name="$parent_DefaultPanelContainer">
        <Size>
          <AbsDimension x="320" y="24"/>
        </Size>
        <Anchors>
          <Anchor point="TOPLEFT">
            <Offset>
              <AbsDimension x="5" y="-194"/>
            </Offset>
          </Anchor>
        </Anchors>
        <Layers>
          <Layer level="ARTWORK">
            <FontString name="$parent_Header" inherits="GameFontNormal" text="Default panel:" justifyH="LEFT">
              <Color r="1" g="1" b="1"/>
              <Size>
                <AbsDimension x="120" y="24"/>
              </Size>
              <Anchors>
                <Anchor point="TOPLEFT">
                  <Offset>
                    <AbsDimension x="0" y="0"/>
                  </Offset>
                </Anchor>
              </Anchors>
            </FontString>
          </Layer>
        </Layers>
        <Frames>
          <Frame name="$parent_DropdownPlaceholder">
            <Size>
              <AbsDimension x="135" y="24"/>
            </Size>
            <Anchors>
              <Anchor point="LEFT" relativeTo="$parent_Header" relativePoint="RIGHT">
                <Offset>
                  <AbsDimension x="-28" y="2"/>
                </Offset>
              </Anchor>
            </Anchors>
          </Frame>
        </Frames>
      </Frame>
      <!--==================================================================
        Show Custom (Turtle WoW) Instances
        ==================================================================-->
      <CheckButton name="$parent_ShowCustomInstances" inherits="UICheckButtonTemplate">
        <Size>
          <AbsDimension x="20" y="20"/>
        </Size>
        <Anchors>
          <Anchor point="TOPLEFT">
            <Offset>
              <AbsDimension x="5" y="-222"/>
            </Offset>
          </Anchor>
        </Anchors>
        <Layers>
          <Layer level="ARTWORK">
            <FontString name="$parent_Label" inherits="GameFontNormalSmall" text="Show Turtle WoW custom instances">
              <Anchors>
                <Anchor point="LEFT" relativePoint="RIGHT">
                  <Offset>
                    <AbsDimension x="0" y="0"/>
                  </Offset>
                </Anchor>
              </Anchors>
            </FontString>
          </Layer>
        </Layers>
        <Scripts>
          <OnClick>
            TeronAutoLFM.UI.Content.Settings.OnShowCustomInstancesToggle(this:GetChecked() == 1)
          </OnClick>
        </Scripts>
      </CheckButton>
      <!--==================================================================
        My Role
        ==================================================================-->
      <Frame name="$parent_MyRoleContainer">
        <Size>
          <AbsDimension x="320" y="24"/>
        </Size>
        <Anchors>
          <Anchor point="TOPLEFT">
            <Offset>
              <AbsDimension x="5" y="-250"/>
            </Offset>
          </Anchor>
        </Anchors>
        <Layers>
          <Layer level="ARTWORK">
            <FontString name="$parent_Header" inherits="GameFontNormal" text="My role:" justifyH="LEFT">
              <Color r="1" g="1" b="1"/>
              <Size>
                <AbsDimension x="120" y="24"/>
              </Size>
              <Anchors>
                <Anchor point="TOPLEFT">
                  <Offset>
                    <AbsDimension x="0" y="0"/>
                  </Offset>
                </Anchor>
              </Anchors>
            </FontString>
          </Layer>
        </Layers>
        <Frames>
          <CheckButton name="$parent_TankCheck" inherits="UICheckButtonTemplate">
            <Size>
              <AbsDimension x="20" y="20"/>
            </Size>
            <Anchors>
              <Anchor point="LEFT" relativeTo="$parent_Header" relativePoint="RIGHT">
                <Offset>
                  <AbsDimension x="-12" y="0"/>
                </Offset>
              </Anchor>
            </Anchors>
            <Layers>
              <Layer level="ARTWORK">
                <FontString name="$parent_Label" inherits="GameFontNormalSmall" text="Tank">
                  <Size>
                    <AbsDimension x="28" y="16"/>
                  </Size>
                  <Anchors>
                    <Anchor point="LEFT" relativePoint="RIGHT">
                      <Offset>
                        <AbsDimension x="2" y="0"/>
                      </Offset>
                    </Anchor>
                  </Anchors>
                </FontString>
              </Layer>
            </Layers>
            <Scripts>
              <OnClick>
                TeronAutoLFM.UI.Content.Settings.OnMyRoleClick("TANK")
              </OnClick>
            </Scripts>
          </CheckButton>
          <CheckButton name="$parent_HealCheck" inherits="UICheckButtonTemplate">
            <Size>
              <AbsDimension x="20" y="20"/>
            </Size>
            <Anchors>
              <Anchor point="LEFT" relativeTo="$parent_TankCheck_Label" relativePoint="RIGHT">
                <Offset>
                  <AbsDimension x="6" y="0"/>
                </Offset>
              </Anchor>
            </Anchors>
            <Layers>
              <Layer level="ARTWORK">
                <FontString name="$parent_Label" inherits="GameFontNormalSmall" text="Healer">
                  <Size>
                    <AbsDimension x="40" y="16"/>
                  </Size>
                  <Anchors>
                    <Anchor point="LEFT" relativePoint="RIGHT">
                      <Offset>
                        <AbsDimension x="2" y="0"/>
                      </Offset>
                    </Anchor>
                  </Anchors>
                </FontString>
              </Layer>
            </Layers>
            <Scripts>
              <OnClick>
                TeronAutoLFM.UI.Content.Settings.OnMyRoleClick("HEAL")
              </OnClick>
            </Scripts>
          </CheckButton>
          <CheckButton name="$parent_DPSCheck" inherits="UICheckButtonTemplate">
            <Size>
              <AbsDimension x="20" y="20"/>
            </Size>
            <Anchors>
              <Anchor point="LEFT" relativeTo="$parent_HealCheck_Label" relativePoint="RIGHT">
                <Offset>
                  <AbsDimension x="6" y="0"/>
                </Offset>
              </Anchor>
            </Anchors>
            <Layers>
              <Layer level="ARTWORK">
                <FontString name="$parent_Label" inherits="GameFontNormalSmall" text="DPS">
                  <Size>
                    <AbsDimension x="24" y="16"/>
                  </Size>
                  <Anchors>
                    <Anchor point="LEFT" relativePoint="RIGHT">
                      <Offset>
                        <AbsDimension x="2" y="0"/>
                      </Offset>
                    </Anchor>
                  </Anchors>
                </FontString>
              </Layer>
            </Layers>
            <Scripts>
              <OnClick>
                TeronAutoLFM.UI.Content.Settings.OnMyRoleClick("DPS")
              </OnClick>
            </Scripts>
          </CheckButton>
        </Frames>
      </Frame>
      <!--==================================================================
        Bottom Section: Separator + Dry Run + Debug
        ==================================================================-->
      <Frame name="$parent_Separator">
        <Size>
          <AbsDimension x="300" y="1"/>
        </Size>
        <Anchors>
          <Anchor point="BOTTOMLEFT">
            <Offset>
              <AbsDimension x="0" y="25"/>
            </Offset>
          </Anchor>
        </Anchors>
        <Layers>
          <Layer level="ARTWORK">
            <Texture>
              <Anchors>
                <Anchor point="TOPLEFT"/>
                <Anchor point="BOTTOMRIGHT"/>
              </Anchors>
              <Color r="0.3" g="0.3" b="0.3" a="0.8"/>
            </Texture>
          </Layer>
        </Layers>
      </Frame>
      <!-- Dry Run Checkbox -->
      <CheckButton name="$parent_DryRun" inherits="UICheckButtonTemplate">
        <Size>
          <AbsDimension x="20" y="20"/>
        </Size>
        <Anchors>
          <Anchor point="BOTTOMLEFT">
            <Offset>
              <AbsDimension x="0" y="2"/>
            </Offset>
          </Anchor>
        </Anchors>
        <Layers>
          <Layer level="ARTWORK">
            <FontString name="$parent_Label" inherits="GameFontNormalSmall" text="Dry run (simulated broadcast)">
              <Anchors>
                <Anchor point="LEFT" relativePoint="RIGHT">
                  <Offset>
                    <AbsDimension x="0" y="0"/>
                  </Offset>
                </Anchor>
              </Anchors>
            </FontString>
          </Layer>
        </Layers>
        <Scripts>
          <OnClick>
            TeronAutoLFM.UI.Content.Settings.OnDryRunToggle(this:GetChecked() == 1)
          </OnClick>
        </Scripts>
      </CheckButton>
      <!-- Debug Checkbox -->
      <CheckButton name="$parent_Debug" inherits="UICheckButtonTemplate">
        <Size>
          <AbsDimension x="20" y="20"/>
        </Size>
        <Anchors>
          <Anchor point="BOTTOMRIGHT">
            <Offset>
              <AbsDimension x="-45" y="2"/>
            </Offset>
          </Anchor>
        </Anchors>
        <Layers>
          <Layer level="ARTWORK">
            <FontString name="$parent_Label" inherits="GameFontNormalSmall" text="Debug">
              <Anchors>
                <Anchor point="LEFT" relativePoint="RIGHT">
                  <Offset>
                    <AbsDimension x="0" y="0"/>
                  </Offset>
                </Anchor>
              </Anchors>
            </FontString>
          </Layer>
        </Layers>
        <Scripts>
          <OnClick>
            TeronAutoLFM.UI.Content.Settings.OnDebugToggle(this:GetChecked() == 1)
          </OnClick>
        </Scripts>
      </CheckButton>
      <!-- End of ScrollChild Frames -->
            </Frames>
          </Frame>
        </ScrollChild>
      </ScrollFrame>
    </Frames>
    <Scripts>
      <OnLoad>
        TeronAutoLFM.UI.Content.Settings.OnLoad(this)
      </OnLoad>
      <OnShow>
        TeronAutoLFM.UI.Content.Settings.OnShow(this)
      </OnShow>
    </Scripts>
  </Frame>
</Ui>
